<div>
    <h2 data-translate="shellApp.probabilidad.home.title">Probabilidads</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="probabilidad.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="shellApp.probabilidad.home.createLabel">
                        Create new Probabilidad
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoria"><span data-translate="shellApp.probabilidad.categoria">Categoria</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="valor"><span data-translate="shellApp.probabilidad.valor">Valor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="descripcion"><span data-translate="shellApp.probabilidad.descripcion">Descripcion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rangoMayor"><span data-translate="shellApp.probabilidad.rangoMayor">Rango Mayor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rangoMenor"><span data-translate="shellApp.probabilidad.rangoMenor">Rango Menor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tablaProbabilidadId"><span data-translate="shellApp.probabilidad.tablaProbabilidad">Tabla Probabilidad</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="probabilidad in vm.probabilidads track by probabilidad.id">
                    <td><a ui-sref="probabilidad-detail({id:probabilidad.id})">{{probabilidad.id}}</a></td>
                    <td>{{probabilidad.categoria}}</td>
                    <td>{{probabilidad.valor}}</td>
                    <td>{{probabilidad.descripcion}}</td>
                    <td>{{probabilidad.rangoMayor}}</td>
                    <td>{{probabilidad.rangoMenor}}</td>
                    <td>
                        <a ui-sref="tabla-probabilidad-detail({id:probabilidad.tablaProbabilidadId})">{{probabilidad.tablaProbabilidadId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="probabilidad-detail({id:probabilidad.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="probabilidad.edit({id:probabilidad.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="probabilidad.delete({id:probabilidad.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
