
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProbabilidadLabel" data-translate="shellApp.probabilidad.home.createOrEditLabel">Create or edit a Probabilidad</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.probabilidad.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.probabilidad.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shellApp.probabilidad.categoria" for="field_categoria">Categoria</label>
            <input type="text" class="form-control" name="categoria" id="field_categoria"
                    ng-model="vm.probabilidad.categoria"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shellApp.probabilidad.valor" for="field_valor">Valor</label>
            <input type="number" class="form-control" name="valor" id="field_valor"
                    ng-model="vm.probabilidad.valor"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shellApp.probabilidad.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.probabilidad.descripcion"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shellApp.probabilidad.rangoMayor" for="field_rangoMayor">Rango Mayor</label>
            <input type="number" class="form-control" name="rangoMayor" id="field_rangoMayor"
                    ng-model="vm.probabilidad.rangoMayor"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shellApp.probabilidad.rangoMenor" for="field_rangoMenor">Rango Menor</label>
            <input type="number" class="form-control" name="rangoMenor" id="field_rangoMenor"
                    ng-model="vm.probabilidad.rangoMenor"
                    />
        </div>

        <div class="form-group">
            <label data-translate="shellApp.probabilidad.tablaProbabilidad" for="field_tablaProbabilidad">Tabla Probabilidad</label>
            <select class="form-control" id="field_tablaProbabilidad" name="tablaProbabilidad" ng-model="vm.probabilidad.tablaProbabilidadId" ng-options="tablaProbabilidad.id as tablaProbabilidad.id for tablaProbabilidad in vm.tablaprobabilidads"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
